{% extends 'core/base.html' %}

{% block title %} About {% endblock  %}

{% block background %}{% load static %}{% static 'core/img/about-bg.jpg' %}{% endblock %}

{% block headers %}
<h1>Acerca de</h1>
<span class="subheading">Biografia</span>
{% endblock %}


{% block contenido %} 
<div class="row"> 
    <div class="col-lg-3 col-md-4 offset-lg-1">
        <img class="img-fluid avatar" src="{% static 'core/img/foto.jpg' %}" alt="">
    </div>
    <div class="col-lg-7 col-md-8">
        <h2 class="section-heading">Jhon Bairon Holguin </h2>
        <p>Me llamo Bairon y soy Desarrollador web, egresado del Sena como tecnologo en desarrollo de software y curso cuarto semestre de ingenieria de sistemas.</p>
        <p>Tengo la capacidad de hacer el sitio web de tus sueños, con un bonito estilo y a bajo costo, <a href="{% url 'contac' %}">contactame</a>. </p>
    </div>
</div>
{% endblock %}

