{% extends 'core/base.html' %}

{% block title %} Contacto {% endblock  %}

{% block background %}{% load static %}{% static 'core/img/contact-bg.jpg' %}{% endblock %}

{% block headers %} 
<h1>Contacto</h1>
<span class="subheading">Asesoría</span>
{% endblock %}


{% block contenido %} 
<div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
        <p>Desarrollo la pagina web que desees, ya sea personal o empresarial, con contrato por horas o con precio fijo.</p>
        <p>Doy asesorias en diferentes proyectos o paginas web.</p>
        <br>
        <p><b>Teléfono:</b> +57 310 6042367</p>
        <p><b>Honorarios:</b> $8/h (precio base)</p>
    </div>
</div>
{% endblock %}

