{% extends 'core/base.html' %}

{% block title %} Portada {% endblock  %}

{% block background %}{% load static %}{% static 'core/img/home-bg.jpg' %}{% endblock %}

{% block headers %}
<h1>Bairon Holguin</h1>
<span class="subheading">Desarrollador web</span>
{% endblock %}

